# Exclude everything
/*

# Include specifically

## Markdowns
!*.md

## Important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## Pipenv
!Pipfile
!Pipfile.lock

## Tooling config
!/alembic.ini
!/.env.celery

## App configuration templates
!.env.template

## Sources
!/src
!/scripts
!/config
!/alembic

# Explicit exceptions/ignores
