[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
create-migration = "alembic revision"
migrate-dev = "alembic upgrade head"
gosmee-dev = "gosmee client https://hook.pipelinesascode.com/ThqAwpBYXGkT http://deploy.durhack-dev.com/github-webhook"  # https://github.com/chmouel/gosmee/#install
dev = "python src/app.py"

[packages]
flask = { extras = ["async"], version = ">=3.0.3, ==3.*" }  # analogous-ish to Express; a framework for defining HTTP request handlers with middleware
watchdog = ">=5.0.3, ==5.*"  # file watcher - intend to use this for listening for lockfiles being removed
crossplane = ">=0.5.8, ==0.5.*"  # nginx config parser - use this to find domain names / patch config files accordingly
pydantic = ">=2.9.2, ==2.*"  # analogous to Zod; a data validation library
sqlalchemy = ">=2.0.35, ==2.*"  # analogous to @prisma/client: an ORM
python-dotenv = ">=1.0.1, ==1.*"  # load values from `.env` files
psycopg = ">=3.2.3, ==3.*"  # postgresql database client for Python
aiohttp-client-cache = ">=0.12.2, ==0.12.*"  # analogous to 'fetch'; an HTTP/1.1 client with response-caching capabilities
celery = ">=5.4.0, ==5.*"   # the Celery task queue client - provides APIs to submit tasks for processing & register task handlers to be run by workers

[dev-packages]
ruff = ">=0.6.9, ==0.6.*"  # analogous to Biome; a linter/formatter for Python
alembic = ">=1.13.3, ==1.*"  # analogous to the Prisma CLI: a database migration tool

[requires]
python_version = "3.12"
